:root {
  --primary-color: #0077b6; /* deep river blue */
  --secondary-color: #e9b383; /* warm sand */
  --accent1-color: #023e8a; /* bold navy  */
  --accent2-color: #90e0ef; /* light aqua  */
  --heading-font: "Trebuchet MS", "Georgia", serif;
  --body-font: "Segoe UI", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

main {
    width: 840px;
    margin: 0 auto;
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 100%;
    height: auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr 3fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: var(--primary-color);
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border: 3px solid grey;
}

.navigation li {
    flex: 1 1 auto;
    background-color: ghostwhite;
}

.navigation a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: #fff;
}

section h1, h2 {
    background-color: var(--accent1-color);
    box-shadow: 5px 5px 10px rgb(194, 194, 194);
    width: 100%;
    height: 150%;
    padding: 10px;
    margin: 0px;
    color: #fff;
    text-align: center;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    grid-row: 1/3 span;
    grid-column: 1/3 span;
}

.hero article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 2/4;
    grid-column: 1/4;
    width: 95%;
    height: 40%;
    background-color: var(--secondary-color);
    color: black;
}

.hero article img {
    width: 130px;
    height: auto;
    margin-left: auto;
}


.history {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history img {
    width: 200px;
    height: auto;
    margin: 0.5rem;
    border: 4px solid #e9b383;
}

.adventures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.adventures img {
    width: 120px;
    height: auto;
    margin: 1.2rem;
    border: 4px solid #e9b383;
}

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: var(--primary-color);
    text-align: center;
}

footer p{
    color: var(--accent2-color);
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold

}

.socialmedia img {
    width: 50px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

/* NEW CONTACT.CSS CHANGES */

.contact-info .contact p {
  margin: 0 !important;
  padding: 0 !important;
}

.contact p {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

.contact h1 {
    position: static;
    background-color: white;
    box-shadow: none;
    color: var(--accent1-color);
    margin: 0 auto !important;
    padding: 0 !important;
    margin-bottom: 15px !important;
    font-size: xx-large;
} 

.contact-info {
    text-align: center;
    font-size: 1.2rem;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.employees img {
    width: 120px;
    height: auto;
    margin: 1.2rem;
    border: 4px solid #e9b383;
}

.middle {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}


/* FORM */

form {
    border-radius: 5%;
    display: grid;
}

.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 5px;
    padding: 15px;
}

legend {
  color: var(--primary-color);
  font-size: 1.3em;
  font-weight: bold;
}

label {
    text-align: left;
    padding-right: 10px;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}

button {
  background-color: var(--accent1-color);
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: 5px;
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
}

button:hover {
  background-color: var(--primary-color);
}

.map {
    border: none
}