:root {
    --text-align: center;
    --img-height: auto;
    --border: 3px dotted #222;
}


main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding:10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--img-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 300px;
    margin: 20px;
    border: var(--border);
    padding: 15px;
    background-color: #6157a6;
    color: white;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--img-height);
}

footer {
    margin-top: 30px;
    border-top: var(--border);
    text-align: var(--text-align);
}